
{% load staticfiles %}
<html>
<link rel = "stylesheet" type = "text/css" href = "{% static 'assets/CSS/bootstrap.css' %}">


	<head>
		<title>Bibliothecam - The Library</title>
		<center><h1><u>Bibliothecam</u></h1></center>
	</head>	
	
	<body>
		
		<center>
		{% if books_list %}
		<table class = "table-hover">
			<tr>
				<th>ID</th>
				<th>Title</th>
				<th>Author</th>
				<th>Pages</th>
				<th>ISBN</th>
			</tr>
			{% for b in books_list %}
			<tr>
				<td>{{b.id}}</td>
				<td>{{b.title}}</td>
				<td>{{b.author}}</td>
				<td>{{b.pages}}</td>
				<td>{{b.isbn}}</td>
			</tr>
			{% endfor %}
		</table>
		{% endif %}
		</center>

		<br>
		
		<form method='GET' action='/add/'>{% csrf_token %}
			<center>
				Enter title: <input type="text" name="title">
				Enter author: <input type="text" name="author">
				Enter pages: <input type="text" name="pages">
				Enter ISBN: <input type="text" name="isbn">
				<input class = "btn-success" type ="submit" value = "Add">
			</center>
			{% if message %}
				<div><center>{{message}}</center></div>
			{% endif %}
		</form>
		
		
		
		<form method='GET' action='/update/'>{% csrf_token %}
			<center>
				Enter ID: <input type="text" name="id">
				Enter title: <input type="text" name="title">
				Enter author: <input type="text" name="author">
				Enter pages: <input type="text" name="pages">
				Enter ISBN: <input type="text" name="isbn">
				<input class = "btn-warning" type ="submit" value = "Update">
			</center>
		</form>

	

		<form method='GET' action='/delete/'>{% csrf_token %}
			<center>
				Enter ID: <input type="text" name="id">
				<input class = "btn-danger" type ="submit" value = "Delete">
			</center>
		</form>



		<form method='GET' action='/search/'>{% csrf_token %}
			<center>
			Search (by category/keyword): <input type="text" name="search">
			<input class = "btn-info" type ="submit" value = "Go">
			</center>
		</form>
		
		<center>
		{% if search_list %}
		<table class = "table-hover">
			<tr>
				<th>ID</th>
				<th>Title</th>
				<th>Author</th>
				<th>Pages</th>
				<th>ISBN</th>
			</tr>
			{% for b in search_list %}
			<tr>
				<td>{{b.id}}</td>
				<td>{{b.title}}</td>
				<td>{{b.author}}</td>
				<td>{{b.pages}}</td>
				<td>{{b.isbn}}</td>
			</tr>
			{% endfor %}
		</table>
		{% endif %}
		</center>

		{% if error %}
			<div><center>{{error}}</center></div>
		{% endif %}

		<br>

		<form method='GET' action='/search_isbn/'>{% csrf_token %}
			<center>
			Search for record (ISBN): <input type="text" name="search_isbn">
			<input class = "btn-info" type ="submit" value = "Go">
			</center>
		</form>

		<center>
		{% if search_isbn_list %}
		<table class = "table-hover">
			<tr>
				<th>ID</th>
				<th>Title</th>
				<th>Author</th>
				<th>Pages</th>
				<th>ISBN</th>
			</tr>
			{% for b in search_isbn_list %}
			<tr>
				<td>{{b.id}}</td>
				<td>{{b.title}}</td>
				<td>{{b.author}}</td>
				<td>{{b.pages}}</td>
				<td>{{b.isbn}}</td>
			</tr>
			{% endfor %}
		</table>
		{% endif %}
		</center>

		{% if error_isbn %}
			<div><center>{{error_isbn}}</center></div>
		{% endif %}
		
	</body>
</html>
